<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocios.Properties.Settings.colegiodbConnectionString"
            connectionString="server=localhost;User Id=root;Persist Security Info=True;database=colegiodb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>